<htm>
    <head>
        <meta charset="utf-8"/>
        <title>Test Chat</title>
        <script src="https://cdn.bootcss.com/vue/2.5.17-beta.0/vue.js"></script>
        <!-- <script src="//cdn1.lncld.net/static/js/3.7.2/av-min.js"></script> -->
        <script src="//cdn1.lncld.net/static/js/3.7.2/av-live-query-min.js"></script>
        <script src="https://cdn.bootcss.com/js-sha256/0.9.0/sha256.js"></script>
        <link href="https://cdn.bootcss.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="https://cdn.bootcss.com/bootstrap/4.1.1/css/bootstrap-grid.min.css" rel="stylesheet">
        <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdn.bootcss.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div id="app">
            <div v-if="user_info" class="container">
                <h3>你好, {{user_info.attributes.username}}</h3>
                <div class="input-group">
                    <input class="form-control" v-model="content" @keydown.enter="send_message" type="text"/>
                    <span class="input-group-btn">
                        <button class="btn" @click="send_message">发送</button>
                    </span> 
                </div>
                <template v-for="m in messages">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{m.username}}</h5>
                            <p class="card-text">{{m.content}}</p>
                        </div>
                    </div>
                </template>
            </div>
            <div v-else class="container">
                <h3>{{welcome_title}}</h3>
                <div class="row">
                    <div class="input-group col-xs-12">
                        <label for="unInput">用户名</label>
                        <input id="unInput" class="form-control" type="text" v-model="username" />                        
                    </div>
                </div>
                <div class="row">
                    <div class="input-group col-xs-12">
                        <label for="pwdInput">密码</label>
                        <input id="pwdInput" class="form-control" type="password" v-model="password" />
                    </div>
                </div>
                <div class="row">
                    <button class="btn btn-default col-xs-6" @click="create_user(username, password)">注册</button>
                    <button class="btn btn-primary col-xs-6" @click="login(username, password)">登录</button>
                </div>
            </div>
        </div>
        <script>
            const vm = new Vue({
                el: "#app",
                data: {
                    username: '',
                    password: '',
                    content: '',
                    messages: [],
                    user_info: null,
                    welcome_title: null
                },
                methods: {
                    create_user(username, password){
                        let user = new AV.User()
                        user.setUsername(username)
                        user.setPassword(password)
                        user.signUp()
                            .then((user) => {
                                this.user_info = user
                                this.init_messages()
                            }).catch( (user, error) => {
                                alert("创建失败: "+error.message)
                            })
                    },
                    login(username, password){
                        AV.User.logIn(username, password)
                            .then((user) => {
                                console.log(user)
                                this.user_info = user
                                this.init_messages()
                                this.init_messages()
                                this.subscribe()
                            }).catch((user, error) => {
                                alert("登录失败: "+error.message)
                            })
                    },
                    send_message(){
                        const DemoChat = AV.Object.extend({
                            className: "TestMessage"
                        })
                        let msg = new DemoChat()
                        msg.set("user", this.user_info._toPointer())
                        msg.set("content", this.content)
                        msg.save()
                        .then((msg) => {
                            this.content = ''
                            // this.messages.unshift({
                            //     username: this.user_info.attributes.username,
                            //     content: msg.attributes.content
                            // })
                        }).catch((error) => {
                            console.error(error)
                                alert("发送失败了")
                        })
                    },
                    subscribe(){
                        let query = new AV.Query('TestMessage')
                        query.subscribe().then((liveQuery) => {
                            liveQuery.on('create', (msg) => {
                                msg.fetch({
                                    include: ["user"]
                                }).then((msg) => {
                                    this.messages.unshift({
                                        username: msg.get("user").get("username"),
                                        content: msg.get("content")
                                    })
                                })  
                            })
                        })
                    },
                    init_messages(){
                        let query = new AV.Query('TestMessage')
                        query.include("user.username")
                        query.lessThanOrEqualTo("createdAt", new Date())
                        query.limit(50)
                        query.find()
                        .then((messages) => {
                            this.messages = messages.map(m => ({
                                username: m.attributes.user.attributes.username,
                                content:  m.attributes.content
                            })).reverse()
                            console.log(this.messages)
                        }).catch((error) => {
                            console.error(error)
                            alert("网络已断，没救了，刷新吧")
                        })
                        this.subscribe()
                    }
                },
                created(){
                    // const APP_ID = "2bf247ad-5ccd-42e6-b695-841c4ff11fb3"
                    // const CLIENT_KEY = "Va4M2Dwl2E6dFHXNGkivdDDeGQZGbAw0"
                    // AV.serverURL = 'https://AV.buddy.com/AV'
                    // AV.initialize(APP_ID, CLIENT_KEY)

                    // const APP_ID = "UqV9GJEedAOz6iSxgtn9AzOG6sJjW0sBJwh27D9N"
                    // const CLIENT_KEY = "p2MivomLHK5FPInBVVigT20CB8gmPGATwZcxKnPk"
                    // AV.serverURL = 'https://parseapi.back4app.com/'
                    // AV.initialize(APP_ID, CLIENT_KEY)

                    const APP_ID = "xpTHT125IoWveEQ4cYi8qf52-MdYXbMMI"
                    const CLIENT_KEY = "OnbuOgk8HfQFXNavO6JhKtha"
                    AV.initialize(APP_ID, CLIENT_KEY)

                    this.user_info = AV.User.current()
                    if(this.user_info){
                        this.init_messages()
                    }
                    const welcome_titles = [
                        "欢迎加入本计划！",
                        "欢迎成为创作者！",
                        "欢迎注视美少女！",
                        "欢迎来到新世界！",
                        "欢迎接受辅导！",
                        "欢迎来到教室！",
                        "欢迎来到延期偿还！",
                        "欢迎来到中华街！",
                        "欢迎来到夏日！",
                        "欢迎来到黑暗面！",
                        "欢迎掉入阴谋！",
                        "欢迎来到网聚！",
                        "欢迎来到天国！",
                        "欢迎来到现实！",
                        "欢迎来到幻想世界！",
                        "欢迎来到GAME",
                        "欢迎来感受幸福！",
                        "欢迎来感受前途无亮！",
                        "欢迎来找青鸟！",
                        "欢迎来到冬天！",
                        "欢迎来重头开始！",
                        "欢迎成为神！",
                        "欢迎来找岬！",
                        "欢迎来到N・H・K！",
                    ]
                    this.welcome_title = welcome_titles[Math.floor(Math.random() * welcome_titles.length)]
                }
            })
            
        </script>
    </body>
</htm>